flows_LAPTOP-ONGE7OHD.json
[{"id":"95d4da5c.33fef8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"db532ba5.94ffb8","type":"inject","z":"95d4da5c.33fef8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"topico","payload":"","payloadType":"date","x":100,"y":200,"wires":[["366232ab.03379e"]]},{"id":"366232ab.03379e","type":"debug","z":"95d4da5c.33fef8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":240,"y":200,"wires":[]},{"id":"d81e5d8c.b2ea3","type":"inject","z":"95d4da5c.33fef8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"hola mundo","payloadType":"str","x":90,"y":260,"wires":[["366232ab.03379e"]]},{"id":"eb79bcac.4c905","type":"inject","z":"95d4da5c.33fef8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"1234","payloadType":"num","x":90,"y":320,"wires":[["47903f52.d957b"]]},{"id":"47903f52.d957b","type":"debug","z":"95d4da5c.33fef8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":240,"y":340,"wires":[]}]