flows_LAPTOP-ONGE7OHD.json
[{"id":"95d4da5c.33fef8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"d81e5d8c.b2ea3","type":"inject","z":"95d4da5c.33fef8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"hola mundo","payloadType":"str","x":130,"y":240,"wires":[["366232ab.03379e"]]},{"id":"366232ab.03379e","type":"debug","z":"95d4da5c.33fef8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":370,"y":180,"wires":[]},{"id":"47903f52.d957b","type":"debug","z":"95d4da5c.33fef8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":240,"y":340,"wires":[]},{"id":"eb79bcac.4c905","type":"inject","z":"95d4da5c.33fef8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"1234","payloadType":"num","x":90,"y":320,"wires":[["47903f52.d957b"]]},{"id":"db532ba5.94ffb8","type":"inject","z":"95d4da5c.33fef8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"topico","payload":"","payloadType":"date","x":120,"y":140,"wires":[["366232ab.03379e"]]},{"id":"4dac3d11.864014","type":"debug","z":"95d4da5c.33fef8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":460,"y":80,"wires":[]},{"id":"2a9af25e.cff03e","type":"inject","z":"95d4da5c.33fef8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"adios mundo cruel","payloadType":"str","x":240,"y":80,"wires":[["4dac3d11.864014"]]}]