flows_LAPTOP-ONGE7OHD.json
[{"id":"95d4da5c.33fef8","type":"tab","label":"inject","disabled":false,"info":""},{"id":"5e5fb217.adf01c","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"586c99e.6002b68","type":"tab","label":"Flow 4","disabled":false,"info":""},{"id":"b256cc0b.aef3a","type":"tab","label":"mapa","disabled":false,"info":""},{"id":"7d550b4a.b05804","type":"tab","label":"MQTT","disabled":false,"info":""},{"id":"3ba60b28.658644","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"4bdffeca.0d6d2","type":"ui_group","z":"","name":"Default","tab":"3ba60b28.658644","order":1,"disp":true,"width":18,"collapse":false},{"id":"aca5ee3c.0f14d","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"7272d843.759ee8","type":"ui_spacer","name":"spacer","group":"4bdffeca.0d6d2","order":1,"width":18,"height":1},{"id":"539ad269.83131c","type":"mqtt-broker","z":"","name":"","broker":"iot.inventoteca.com","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"d81e5d8c.b2ea3","type":"inject","z":"95d4da5c.33fef8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"hola mundo","payloadType":"str","x":130,"y":240,"wires":[["366232ab.03379e"]]},{"id":"366232ab.03379e","type":"debug","z":"95d4da5c.33fef8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":370,"y":180,"wires":[]},{"id":"47903f52.d957b","type":"debug","z":"95d4da5c.33fef8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":240,"y":340,"wires":[]},{"id":"eb79bcac.4c905","type":"inject","z":"95d4da5c.33fef8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"1234","payloadType":"num","x":90,"y":320,"wires":[["47903f52.d957b"]]},{"id":"db532ba5.94ffb8","type":"inject","z":"95d4da5c.33fef8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"topico","payload":"","payloadType":"date","x":120,"y":140,"wires":[["366232ab.03379e"]]},{"id":"4dac3d11.864014","type":"debug","z":"95d4da5c.33fef8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":460,"y":80,"wires":[]},{"id":"2a9af25e.cff03e","type":"inject","z":"95d4da5c.33fef8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"adios mundo cruel","payloadType":"str","x":240,"y":80,"wires":[["4dac3d11.864014"]]},{"id":"f6c39b7a.4581c8","type":"inject","z":"95d4da5c.33fef8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"hola","payloadType":"str","x":220,"y":40,"wires":[["4dac3d11.864014"]]},{"id":"3007fdd2.aeeec2","type":"comment","z":"95d4da5c.33fef8","name":"hola","info":"holaholaaaaa","x":500,"y":280,"wires":[]},{"id":"83515c57.d1303","type":"random","z":"95d4da5c.33fef8","name":"distancia","low":"0","high":"100","inte":"true","property":"payload","x":290,"y":520,"wires":[["77bebfb9.210b4","af7e6017.f3d7b","313c2d93.1c17e2","ef350e50.a5414"]]},{"id":"38a9cc52.0f0ca4","type":"inject","z":"95d4da5c.33fef8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":"2","topic":"","payload":"","payloadType":"date","x":140,"y":520,"wires":[["83515c57.d1303"]]},{"id":"77bebfb9.210b4","type":"debug","z":"95d4da5c.33fef8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":480,"y":520,"wires":[]},{"id":"af7e6017.f3d7b","type":"ui_gauge","z":"95d4da5c.33fef8","name":"","group":"4bdffeca.0d6d2","order":3,"width":9,"height":5,"gtype":"gage","title":"indicador","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":520,"y":440,"wires":[]},{"id":"313c2d93.1c17e2","type":"ui_chart","z":"95d4da5c.33fef8","name":"","group":"4bdffeca.0d6d2","order":4,"width":9,"height":5,"label":"grafica","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":470,"y":620,"wires":[[]]},{"id":"ff2cdec1.5665d","type":"ui_chart","z":"95d4da5c.33fef8","name":"","group":"4bdffeca.0d6d2","order":2,"width":0,"height":0,"label":"lidar","chartType":"radar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":670,"y":780,"wires":[[]]},{"id":"332242d5.76f52e","type":"inject","z":"95d4da5c.33fef8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"0","payload":"","payloadType":"date","x":270,"y":700,"wires":[["ef350e50.a5414"]]},{"id":"328b7349.ede5fc","type":"inject","z":"95d4da5c.33fef8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"90","payload":"","payloadType":"date","x":270,"y":760,"wires":[["ef350e50.a5414"]]},{"id":"fd015c6f.e1241","type":"inject","z":"95d4da5c.33fef8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"180","payload":"","payloadType":"date","x":280,"y":820,"wires":[["ef350e50.a5414"]]},{"id":"7cf02b2d.6f9bd4","type":"inject","z":"95d4da5c.33fef8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"270","payload":"","payloadType":"date","x":280,"y":880,"wires":[["ef350e50.a5414"]]},{"id":"ef350e50.a5414","type":"random","z":"95d4da5c.33fef8","name":"direccion","low":"0","high":"359","inte":"true","property":"topic","x":480,"y":780,"wires":[["ff2cdec1.5665d"]]},{"id":"b4ce13d5.f793f","type":"worldmap","z":"b256cc0b.aef3a","name":"","lat":"","lon":"","zoom":"","cluster":"","maxage":"","hiderightclick":"false","coords":"none","path":"","x":610,"y":200,"wires":[]},{"id":"8ad72519.151c18","type":"inject","z":"b256cc0b.aef3a","name":"","repeat":"","crontab":"","once":false,"topic":"","payload":"","payloadType":"str","x":170,"y":200,"wires":[["ae667d21.5043"]]},{"id":"ae667d21.5043","type":"function","z":"b256cc0b.aef3a","name":"Add person to map","func":"var thing = {\n    name:\"Luis Angel\", \n    lat:19.0413, \n    lon:-98.2062,\n    icon:\"car\",\n    iconColor:\"darkred\",\n    extrainfo:\"Saludos a todos\"\n};\nmsg.payload = thing;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":200,"wires":[["b4ce13d5.f793f"]]},{"id":"19b6f263.41afbe","type":"comment","z":"b256cc0b.aef3a","name":"Simple map - click inject to send point to map.","info":"Adds a map at http://(your-server-ip):1880/worldmap. \n\nThe `function` node creates an object with some basic properties required to add to a map.","x":370,"y":140,"wires":[]},{"id":"cb559ca7.0c557","type":"worldmap","z":"b256cc0b.aef3a","name":"","lat":"","lon":"","zoom":"","layer":"","cluster":"","maxage":"","usermenu":"show","layers":"show","panit":"false","panlock":"false","zoomlock":"false","hiderightclick":"false","coords":"none","showgrid":"false","path":"/worldmap","x":160,"y":280,"wires":[]},{"id":"b456d4c.b367128","type":"debug","z":"b256cc0b.aef3a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":430,"y":380,"wires":[]},{"id":"b1fbf3f1.f35b7","type":"worldmap in","z":"b256cc0b.aef3a","name":"","path":"/worldmap","events":"all","x":190,"y":380,"wires":[["b456d4c.b367128"]]},{"id":"12af700.b90999","type":"mqtt in","z":"7d550b4a.b05804","name":"","topic":"inter/luis","qos":"2","datatype":"auto","broker":"539ad269.83131c","x":200,"y":220,"wires":[["8399484f.bcd7c8"]]},{"id":"8399484f.bcd7c8","type":"debug","z":"7d550b4a.b05804","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":460,"y":220,"wires":[]},{"id":"979d8ac7.71d718","type":"inject","z":"7d550b4a.b05804","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Hola soy Luis","payloadType":"str","x":200,"y":360,"wires":[["ced55849.c80a18"]]},{"id":"ced55849.c80a18","type":"mqtt out","z":"7d550b4a.b05804","name":"","topic":"inter/david","qos":"","retain":"","broker":"539ad269.83131c","x":400,"y":360,"wires":[]}]